{
  "presets": [
    [
      "@babel/env",
      {
        "corejs": {
          "version": 3
        },
        "useBuiltIns": "usage"
      }
    ],
    "@babel/typescript"
  ],
  "plugins": [
    [
      "module-resolver",
      {
        "root": ["."],
        "alias": {
          "~": "./server",
          "@@": "./shared"
        }
      }
    ]
  ],
  "env": {
    "production": {
      "ignore": ["*.d.ts"]
    },
    "development": {
      "ignore": ["*.d.ts"]
    }
  }
}
