.input {
  padding: 4px 10px;
  border-radius: 4px;
  height: 100%;
  width: 100%;
  border: none;
  outline: none;
  border: 3px solid transparent;
  transition: border .3s ease;
  &:focus {
    border-color: #F0D9FF;
  }
}