@import url("./_variable.css");
:root {
  font-size: 16px;
}
* {
  box-sizing: border-box;
}
body {
  font-family: Consolas, 'Courier New', monospace;
  color: var(--primary-text-color);
}
a {
  text-decoration: none;
  color: var(--primary-text-color);
}