.blogItem {
  display: flex;
  margin-bottom: 1rem;
  padding: 1rem;
  border-radius: 4px;
  transition: all .3s ease;
  &:hover {
    background-color: rgba(210, 210, 210, 0.2);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  }
}
.blogCover {}
.blogContent {
  flex: 1 1 auto;
  flex-direction: column;
  min-width: 0;
}
.blogTitle {
  font-size: 1.7rem;
  font-weight: bold;
  margin-bottom: 1em;
}
.blogText {
  font-size: 1.2rem;
  line-height: 1.2em;
  height: 2.4em;
  word-break: break-word;
  display: -webkit-box;
  text-overflow: ellipsis;
  overflow: hidden;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  margin: 1em 0;
}
.blogMeta {
  & > span:not(:last-child) {
    margin-right: 1em;
  }
}